.header {
  background-color: $bg-pink;
  @include mq($screen-xlg) {
    background-color: $bg-white;
  }
  &-navbar {
    display: flex;
    justify-content: space-between;
    .logo {
      padding: 39px 0;
      @include mq($screen-xlg) {
        padding: 8px 0;
      }
    }
    .navbar {
      display: flex;
      &-image {
        display: none;
      }
      @include mq($screen-xlg) {
        &-image {
          display: block;
          min-width: 58px;
          @include flex-align('center');
          border-left: solid 1px rgba(0, 0, 0, 0.15);
        }
      }
      &-nav {
        margin-right: 56px;
        padding: 39px 0;
        @include mq($screen-xlg) {
          padding: 8px 0;
        }
        @include mq($screen-xlg) {
          display: none;
          &.is-open {
            display: block;
            padding: 20px 0;
            padding-left: 20px;
            min-width: 100px;
            position: absolute;
            top: 95px;
            right: 15px;
            background: $bg-white;
            border-radius: 2px;
            margin-right: 0;
            &::after {
              content: '';
              display: inline-block;
              width: 0;
              height: 0;
              position: absolute;
              right: 25px;
              top: -33px;
              border: 17px solid;
              border-color: transparent transparent $bg-white transparent;
            }
          }
        }
      }
      &-menu {
        margin-top: 7px;
        display: flex;
        list-style: none;
        &.open {
          width: auto;
          margin-top: 0;
          flex-direction: column;
          align-items: start;
          .navbar-item:hover {
            text-decoration: underline;
          }
        }

        li {
          margin-right: 30px;
          @include mq($screen-xlg) {
            margin-right: 0;
          }
        }
        .navbar-item:last-child {
          position: relative;
          padding-right: 19px;
          margin-right: 0;
          &:after {
            content: '';
            width: 5px;
            height: 8px;
            background-image: url('../img/Arrow.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: 50%;
            @include mq($screen-xlg) {
              display: none;
            }
          }

          &:hover .popup {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            // @include mq($screen-xlg) {
            //   transform: none;
            // }
          }
        }

        a {
          @include title-size(18px, normal, 25px);
          &.activ {
            font-weight: bold;
          }
        }
      }
      &-link {
        @include link($bg-grey);
      }
    }
  }
  .button-link {
    margin: 39px 0;
    @include mq(900px) {
      margin: 8px 0;
    }
    @include mq(900px) {
      display: none;
    }
  }
}
