.lists {
  display: flex;
  justify-content: end;
  @include mq($screen-sm) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    .product {
      margin-bottom: 30px;
    }
  }
  & > div {
    width: 265px;
    @include mq(1020px) {
      width: 200px;
    }
    @include mq($screen-sm) {
      width: 100%;
    }
  }

  h4 {
    @include title-size(22px, bold, 28px);
    color: $bg-grey;
    margin-bottom: 18px;
  }
  ul {
    list-style: none;
  }
  a {
    @include link(rgba(43, 41, 45, 0.6));
    @include title-size(18px, normal, 30px);
    &:hover {
      text-decoration: underline;
    }
  }
}
