.popup {
  padding: 31px 30px;
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: 0.4s ease-in-out;
  min-width: 612px;
  border-radius: 10px;
  position: absolute;
  top: 55px;
  right: -70%;
  background: $bg-white;
  @include mq($screen-xlg) {
    padding: 0;
    padding-left: 15px;
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: none;
    min-width: 220px;
    border-radius: 10px;
    position: static;
    top: 55px;
    right: -70%;
  }
  &::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    right: 80px;
    top: -33px;
    border: 17px solid;
    border-color: transparent transparent $bg-white transparent;
  }

  &-menu {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 28px;
    @include mq($screen-xlg) {
      grid-template-columns: 1fr;
      grid-row-gap: 18px;
    }
  }
  &-link {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    cursor: pointer;
    @include title-size(22px, normal, 26px);
    @include link($bg-grey);
    span {
      font-weight: bold;
      &:hover {
        color: $bg-green;
      }
    }
  }
}
