// Color
$bg-pink: #f3c6bd;
$bg-pink-l: #fcf0e3;
$bg-grey: #2b292d;
$bg-grey-m: #d5d4d5;
$bg-grey-l: #e3e3e3;
$bg-white: #ffffff;
$bg-white-d: #f4f5f7;
$bg-blue: #3040c4;
$bg-blue-s: #3141c5;
$bg-blue-d: #3142c6;
$bg-blue-m: #0189d1;
$bg-blue-l: #00a1c6;
$bg-green: #009b4d;
$bg-orang: #f1592b;

// font-family
$font-family: 'Work Sans', sans-serif;

// mediaqueries max-width
$screen-xs: 400px;
$screen-sm: 500px;
$screen-md: 600px;
$screen-xmd: 650px;
$screen-lg: 800px;
$screen-xlg: 900px;
$screen-xxlg: 950px;
$screen-xxxl: 1200px;
